ul {
  list-style: none;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
   
  padding: 18px 20px;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  background: #fff;
 
}

.header__logo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  height: 24px;
  cursor: pointer;
  padding-right: 8px;
}

.header__logo-name {
  height: 13px;
  cursor: pointer;
}

.header__switcher-burger-close {
  display: flex;
  flex-wrap: wrap;
}


.header__theme-switcher {
  padding-left: 0;  
 }

.header__wrapper-switcher {
position: relative;
display: block;
margin-left: auto;
margin-right: 14px;
height: 24px;
width: 40px;
top: 2px;
}

.header__theme-light-switch {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 20px;
}

.header__theme-dark-switch {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 20px;
}

.header__theme-round-button {
  position: absolute;
  top: 1px;
  left: 1px;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ligth-switcher {
  display: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-switcher {
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bias-btn {
  left: 21px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header_wrapper-burger-close {
  height: 28px;
  width: 28px;
}

.header__burger {
  height: 28px;
  cursor: pointer;
  stroke: #111111;
}

.header__modal-close {
height: 28px;
cursor: pointer;
stroke: #111111;
}


.header__nav {
  display: none;
}

.header__nav ul {
  list-style: none;
}

.header__nav li {
  margin-left: 20px;
}

.header__nav a {
  text-decoration: none;
  color: #333;
}

.header__nav a:hover {
  text-decoration: underline;
}

.header__modal {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  // position: relative;
 }

.header__modal::before {
  // content: "";
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background-image: url(./../images/bg-mobile-menu.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // transform: rotate(-15deg);
  // flex-shrink: 1;
  // z-index: 1; 
}

.header__modal-bg {
  content: "";
  position: absolute;
  top: 24%;
  left: -1%;
  width: 110%;
  height: 110%;
  background-image: url(./../images/bg-mobile-menu.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-15deg);
  // flex-shrink: 1;
  z-index: 1; 
}


.modal__avatar {
  position: relative;
  display: flex;
  top: 20px;
  left: 20px;
  margin-bottom: 126px;
}

.header__avatar {
  display: none;
}

.modal__avatar-list {
  display: flex;
  flex-wrap: wrap;
}

.modal__avatar-img {
display: flex; 
}

.modal__user-name {
  color: #fff;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;
}

.modal__item-img {
padding-right: 9px;
}

.modal__item-name{
  padding: 0px;
}

.header__modal-menu {
  padding-left: 129px;
  z-index: 3;
  }

  .header__modal-item {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    border-radius: 36px;
  }

  .header__modal-item:focus,
  .header__modal-item:hover {
    // display: flex;
    background: black;
  }


.header__modal-menu-link {
  // display: flex;
  // padding: 8px 16px;
  // align-items: flex-start;
  // gap: 10px;

 
  color: #FFF;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
    // align-items: center;
   
}

.header__modal-menu-img {
  margin-left: 4px;
}

.header__modal-menu-link:hover
.header__modal-menu-link:focus {
  border-radius: 36px;
  background: #eac645;
}



.header__modal-logout-block {
  position: absolute;
    left: 20px;
  bottom: 20px;
  width: 118px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid #111;
  background: #fff;
 display: flex;
 z-index: 3;
}

.header__modal-menu-logout{
  color: #111;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}

.bg-menu {
  position: absolute;
  flex-wrap: wrap;
  // left: 0;
  width: 450.001px;
  height: 439px;
  transform: rotate(-15deg);
  // flex-shrink: 0 3;
  z-index: -1;
  // / background-image: url(../../images/bg-mobile-menu.webp);
  // background-size: cover;
}



@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }

.header__nav {
  margin-left: 40px;
}

  .header__nav-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .header__nav-link {
    padding-top: 7px;
    padding-bottom: 7px;
    // padding-right: 16px;
    // padding-left: 16px;
    // color: #111;
    // font-family: DM Sans;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: 18px; /* 128.571% */
    // letter-spacing: -0.56px;
    // text-transform: uppercase;
  }

  .header__nav-link:hover,
  .header__nav-link:focus {
    background: #EAC645;
  }
  

  .header__burger {
    display: none;
  }

  .header__avatar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 184px;
    height: 45px;
    border-radius: 36px;
    background: #4F2EE8;
    margin: 0;
    padding: 0;
    }

    .header__avatar-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding-top: 4px;
      padding-bottom: 4px;
      }

.header__avatar__img{
  padding-left: 12px;
}

.header__avatar__user-name {
  padding-left: 9px;
}

.header__user-name{
  color: #FFF;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.44px;}

    .header__avatar-caret-down {
       margin-left: 4px;
      padding-right: 2px;
    }


  .header_wrapper-burger-close {
    display: none;
  }

  .header__wrapper-switcher {
     margin-right: 24px;
     }


}
