// basic
$black: #000000;
$white: #ffffff;
//accent
$main-accent-color: #4f2ee8;
$secondary-accent-color: #eac645;
$accent-text-color: #4f2ee8;
$black-accent-color: #111111;

//!light-theme//

html[data-theme='light'] {
  //text
  --main-text-color: #111111;
  --secondary-text-color: #11111199;
  --subtitle-color: #b4afaf;
  --congrats-text-color: #11111180;
  //background
  --bg-color: #f6f6f6;
  //gradient
  --btn-grad: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  //backdrop
  --backdrop: #f6f6f6;
  // card color
  --card-color: #fff;
  --amazon-color: grayscale(100%);
  --icon-shadow: drop-shadow(0 3px 0.85px rgba(0, 0, 0, 0.15));
}
//!dark-theme//

html[data-theme='dark'] {
  //text
  --main-text-color: #ffffff;
  --secondary-text-color: #ffffff99;
  --subtitle-color: #b4afaf;
  --congrats-text-color: #ffffff80;
  //background
  --bg-color: #202024;
  //gradient
  --btn-grad: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  //backdrop
  --backdrop: #202024;
  // card color
  --card-color: #111;
  --amazon-color: brightness(0) invert(1);
  --icon-shadow: drop-shadow(0 3px 0.85px rgba(255, 255, 255));
}

//transition
$transition: 350ms cubic-bezier(0.65, 0.05, 0.36, 1);
