.tui-first {
  margin-right: 5px;
}

.tui-pagination .tui-next {
  margin-left: 14px;
}

.tui-active {
  background-color: #eac645 !important;
}
.tui-page-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-family: DM Sans !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 22px !important;
  background-color: transparent;
  color: black !important;
  width: 38px !important;
  height: 38px !important;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1px solid black !important;
}
.tui-is-disabled {
  background-color: black !important;
}
.tui-is-selected {
  color: white !important;
  font-family: DM Sans !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 22px !important;

  background-color: black !important;
}

@media screen and (min-width: 768px) {
  .tui-page-btn {
    width: 44px !important;
    height: 44px !important;
  }
}
