h3,
p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.body-shopping-container {
  width: 100%;
  padding: 20px;
}

.book-card {
  position: relative;
  width: 100%;
  height: 170px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 14px;
}
.book-card:not:first-child {
  flex-direction: column;
}
.book-img-cont {
  width: 100px;
}

.book-img {
  max-width: 100px;
}

.book-text-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.book-delete-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.book-delete-icon {
  width: 8px;
  height: 8px;
  fill: #434455;
}

.book-title {
  margin-bottom: 4px;
}

.book-desc {
  display: -webkit-box; /* Задаємо властивість контейнера flexbox */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}
.book-category {
  margin-bottom: 8px;
}
.book-author {
  margin-top: auto;
}

@media screen and (min-width: 375px) {
  //   .body-shopping-container {

  //   }

  //   .book-card {
  //      width: 335px;
  //   }
}
