@import '../utils/main';

@mixin content-text($fsize: 16px, $fw: 700, $lh: 18px, $lspace: -0.16px) {
  font-size: $fsize;
  font-weight: $fw;
  line-height: calc($lh / $fsize);
  letter-spacing: $lspace;
}

.form-box {
  position: relative;
  font-family: DM Sans;
  font-style: normal;
  width: 335px;
  height: 384px;
  margin: 214px auto;
  padding: 40px 20px;
  border-radius: 18px;
  border: 2px solid;
  & .close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    // width: 20px;
    // height: 20px;
    fill: black;
    stroke: black;
  }
  & input {
    height: 50px;
    width: 100%;
    padding: 16px 24px;
    @include content-text();
    border-radius: 40px;
    border: 2px solid;
    text-transform: uppercase;
  }
  & .email-wrap,
  .password-wrap {
    position: relative;
    margin: 24px 0;
    &-icon {
      position: absolute;
      top: 16px;
      right: 24px;
      fill: white;
      stroke: black;
    }
    & .test-icon {
      width: 14px;
      height: 14px;
    }
  }
  & .button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0;
    margin-bottom: 14px;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    @include content-text();
  }
  & a {
    @include content-text($lspace: -0.14px);
    text-transform: uppercase;
    text-decoration: none;
  }
  & .sign-up {
    margin-right: 20px;
  }
  & .refs-box {
    display: inline-block;
    margin-left: calc((100% / 2) - 70px);
  }
}

@media screen and (min-width: 768px) {
  .form-box {
    width: 579px;
    height: 516px;
    margin: 127px auto;
    padding: 80px 40px;
    & .close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 28px;
      height: 28px;
    }
    & input {
      height: 64px;
      padding: 20px 40px;
      @include content-text(18px, 700, 24px, -0.18px);
    }
    & .email-wrap {
      margin: 28px 0;
      &-icon {
        width: 28px;
        height: 28px;
        top: 18px;
        right: 32px;
      }
    }
    & .password-wrap {
      margin-bottom: 40px;
      &-icon {
        width: 28px;
        height: 28px;
        top: 18px;
        right: 32px;
      }
    }
    & .button {
      height: 64px;
      margin-bottom: 20px;
      @include content-text(18px, 700, 24px, -0.18px);
    }
    & a {
      @include content-text(18px, 700, 24px, -0.18px);
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
