<div class="backdrop">
    <div class="form-box form-box-dark">
        <svg class="close-btn close-btn-dark" width="18" height="18">
            <use class="" href="images/sprite.svg#icon-exit_button"></use>
        </svg>
        <form class="auth-form" autocomplete="on">
            <input class="input-name" type="text" name="name" placeholder="name" autofocus>
            <div class="email-wrap">
                <input type="email" name="email" placeholder="email" required>
                <svg class="email-wrap-icon" width="18" height="18">
                    <use href="images/sprite.svg#icon-email"></use>
                </svg>
            </div>
            <div class="password-wrap">
                <input type="password" name="password" placeholder="password" required>
                <svg class="password-wrap-icon" width="18" height="18">
                    <use href="images/sprite.svg#icon-lock"></use>
                </svg>
            </div>
            <button type="submit" class="auth-button">Sign up</button>
        </form>
        <div class="refs-box">
            <a href="" class="auth-ref sign-up active">Sign up</a>
            <a href="" class="auth-ref sign-in">Sign in</a>
        </div>
    </div>
</div>