<div class="form-box">
    <svg class="close-btn" width="18" height="18">
        <use class="test-icon" href="images/sprite.svg#icon-exit_button"></use>
    </svg>
    <form class="auth-form" autocomplete="on">
        <input type="text" name="name" placeholder="name" autofocus>
        <div class="email-wrap">
            <input type="email" name="email" placeholder="email">
            <svg class="email-wrap-icon" width="18" height="18">
                <use href="images/sprite.svg#icon-email"></use>
            </svg>        
        </div>
        <div class="password-wrap">
            <input type="password" name="password" placeholder="password">
            <svg class="password-wrap-icon" width="18" height="18">
                <use href="images/sprite.svg#icon-lock"></use>
            </svg>        
        </div>
        <button type="submit" class="button">Sign up</button>
    </form>
   <div class="refs-box">
    <a href="" class="sign-up">Sign up</a>
    <a href="" class="sign-in">Sign in</a>
   </div>
</div>
