
     <div class="footer">
       <div class="container">
      
     <div class="dis">
       <div class="wrapper__logo">
             <a href="./index.html" class="header__logo-list">
               <svg class="header__logo">
                 <use href="./images/sprite.svg#icon-logo"></use>
               </svg>
               <svg class="header__logo-name">
                 <use href="./images/sprite.svg#icon-bookshelf"></use>
               </svg>
             </a>
           </div>
     
     
      <div class="block-overley"><a class="footer-button" >About us <span><img class="img-footer" src="./images/footer/img-footer.jpg" alt=""></span></a></div>
     
     
     
     
     </div>
     
     
     </div>
     </div>
     



