<div class="body-home-container">

  <div class="footer">
    <div class="container">
      <div class="footer-container">
        <div class="wrapper__logo">
          <a href="./index.html" class="footer-logo-list" aria-label="Home page">
            <svg class="header__logo">
              <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
            <svg class="header__logo-name">
              <use href="./images/sprite.svg#icon-bookshelf"></use>
            </svg>
          </a>
          <ul class="logo-link">
            <li>
              <a href="https://www.instagram.com/" class="footer-link" aria-label="Open">
                <img width="24" height="24" src="/src/images/footer/instagram.png" alt="Instagram"></a>
            </li>
            <li> <a href="https://www.youtube.com/" class="footer-link" aria-label="Open">
                <img width="24" height="24" src="/src/images/footer/youtube.png" alt="Youtube">
              </a></li>
            <li> <a href="https://www.linkedin.com/" class="footer-link" aria-label="Open">
                <img src="/src/images/footer/linkedin.png" width="24" height="24" alt="Linkedin"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>