<header class="header">
  <div>
    <a href="./index.html" class="header__logo-list">
      <span>
        <img src="./images/logo.svg" alt="Logo" class="header__logo" /></span>
      <img src="./images/bookshelf.svg" alt="Logo" class="header__logo-name" /><span></span></a>
  </div>

  <nav class="header__nav">
    <ul class="header__nav-wrapper">
      <li class="header__nav-item">
        <a href="./index.html" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a href="./shopping-list.html" class="header__nav-link">Shopping list</a>
      </li>
    </ul>
  </nav>

  <div class="header__wrapper-switcher">
    <a href="#" class="header__switcher-theme">
      <img src="./images/header/light-switch.svg" alt="Theme Switcher" class="header__theme-light-switch" />
      <img src="./images/header/dark-switch.svg" alt="Theme Switcher" class="header__theme-dark-switch" />
      <img src="./images/header/round-button.svg" alt="Theme Switcher" class="header__theme-round-button" /></a>
  </div>

  <div class="header__switcher-burger-close">
    <div class="header_wrapper-burger-close">
      <a href="#">
        <img src="./images/burger.svg" alt="Burger Menu" class="header__burger" />
        <img src="./images/x-close.svg" alt="Close" class="header__modal-close" style="display: none" />
      </a>
    </div>

    <div class="header__avatar">
      <ul class="header__avatar-list">
        <li class="header__avatar__img">
          <a href="#"><img src="./images/user.svg" alt="User Avatar" class="header__avatar-item" /></a>
        </li>
        <li class="header__avatar__user-name">
          <a href="#"><span class="header__user-name">Stephen</span></a>
        </li>
        <li class="header__avatar-caret-down">
          <a href="#"><img src="./images/header/fi-ss-caret-down.svg" alt="caret-down" /></a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- Modal -->
<div class="header__modal">
  <!-- Avatar -->
  <div class="modal__avatar">
    <ul class="modal__avatar-list">
      <li class="modal__item-img">
        <a href=""><img src="./images/user.svg" alt="User Avatar" class="modal__avatar-img" /></a>
      </li>
      <li class="modal__item-name">
        <a href=""><span class="modal__user-name">Stephen</span></a>
      </li>
    </ul>
  </div>

  <!-- Menu modal -->
  <ul class="header__modal-menu">
    <li class="header__modal-item">
      <a href="./index.html" class="header__modal-menu-link">HOME</a>
    </li>
    <li class="header__modal-item">
      <a href="./shopping-list.html" class="header__modal-menu-link">SHOPPING LIST
        <img class="header__modal-menu-img" src="./images/uil-cart.svg" alt="Shopping List" />
      </a>
    </li>
  </ul>

  <!-- Sing -->
  <div class="header__modal-logout-block">
    <ul class="logout__list">
      <li>
        <a href="#"><span class="header__modal-menu-logout">Log out</span></a>
      </li>
      <li>
        <img src="./images/arrow-narrow-right.svg" alt="Logout" class="header__logout-arrow" />
      </li>
    </ul>
  </div>
  <div class="header__modal-bg"></div>
</div>