<header class="header">
  <ul class="header__logo-list">
    <li><img src="./images/logo.svg" alt="Logo" class="header__logo" /></li>
    <li>
      <img src="./images/bookshelf.svg" alt="Logo" class="header__logo-name" />
    </li>
  </ul>

  <nav class="header__nav">
    <ul>
      <li class="header__nav-item">
        <a href="./index.html" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a href="./shopping-list.html" class="header__nav-link">Shopping list</a>
      </li>
    </ul>
  </nav>
  <img
    src="./images/switcher-dark.svg"
    alt="Theme Switcher"
    class="header__theme-switcher"
  />
  <img src="./images/burger.svg" alt="Burger Menu" class="header__burger" />
</header>

<!-- Close modal -->
<div class="header__modal">
  <div>
    <img src="./images/x-close.svg" alt="Close" class="header__modal-close" />
  </div>

  <!-- Avatar -->
  <div class="header__modal-avatar">
    <img src="./images/user.svg" alt="User Avatar" />
    <span class="header__user-name">Stefan</span>
  </div>

  <!-- Menu modal -->
  <ul class="header__modal-menu">
    <li>
      <a href="./index.html" class="header__modal-menu-link">HOME</a>
    </li>
    <li>
      <a href="./shopping-list.html" class="header__modal-menu-link"
        >SHOPPING LIST
        <img src="./images/uil-cart.svg" alt="Shopping List" />
      </a>
    </li>
  </ul>

  <!-- Sing -->
  <div class="header__modal-logout-block">
    <a href="#" class="header__modal-menu-logout"
      >Log out
      <img src="../images/arrow-narrow-right.svg" alt="Logout" class="header__logout-arrow/>
    </a>
  </div>
</div>
