<div class="support-container">
  <h2 class="support-title">Support Ukraine
    <span class="support-emblem">
      <img src="./images/support-ukraine/emblem-ukraine.png" alt="Emblem Ukraine">
    </span>
  </h2>

  <ul class="support-list">

    <li class="support-item">
      <span class="support-number">01</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/save-the-children.png 1x,
                      ./images/support-ukraine/save-the-children@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />
          <img class='support-img' src="./images/support-ukraine/save-the-children.png" alt="Save the children" />
        </picture>
      </a>
    </li>

    <li class="support-item">
      <span class="support-number">02</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/project-hope.png 1x,
                      ./images/support-ukraine/project-hope@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />
          <img class='support-img' src="./images/support-ukraine/project-hope.png" alt="Project Hope" />
        </picture>
      </a>
    </li>
    <li class="support-item">
      <span class="support-number">03</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/international-corps.png 1x,
                      ./images/support-ukraine/international-corps@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />

          <img class='support-img' src="./images/support-ukraine/international-corps.png"
            alt="International Medical Corps" />
        </picture>
      </a>
    </li>
    <li class="support-item last-of-mobile">
      <span class="support-number">04</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/razom.png 1x,
                      ./images/support-ukraine/razom@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />
          <img class='support-img' src="./images/support-ukraine/razom.png" alt="Razom" />
        </picture>
      </a>
    </li>
    <li class="support-item visually-hidden">
      <span class="support-number">05</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/against-hunger.png 1x,
                      ./images/support-ukraine/against-hunger@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />
          <img class='support-img' src="./images/support-ukraine/against-hunger.png" alt=" Action Against Hunger " />
        </picture>
      </a>
    </li>
    <li class="support-item visually-hidden">
      <span class="support-number">06</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/prytula.png 1x,
                      ./images/support-ukraine/prytula@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />
          <img class='support-img' src="./images/support-ukraine/prytula.png" alt="Charity Foudation Sergiy Prytula" />
        </picture>
      </a>
    </li>
    <li class="support-item visually-hidden">
      <span class="support-number">07</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/world-vision.png 1x,
                      ./images/support-ukraine/world-vision@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />
          <img class='support-img' src="./images/support-ukraine/world-vision.png" alt="World Vision" />
        </picture>
      </a>
    </li>
    <li class="support-item visually-hidden">
      <span class="support-number">08</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                      ./images/support-ukraine/united24.png 1x,
                      ./images/support-ukraine/united24@2x.png 2x
                    " media="(min-width: 335px)" type="image/png" />

          <img class='support-img united24-img' src="./images/support-ukraine/united24.png" alt="United 24" />
        </picture>

      </a>
    </li>
    <li class="support-item visually-hidden">
      <span class="support-number">09</span>
      <a href="" aria-label="Open">
        <picture class="support-picture">
          <source srcset="
                          ./images/support-ukraine/medecins-sans.png 1x,
                          ./images/support-ukraine/medecins-sans@2x.png 2x
                        " media="(min-width: 335px)" type="image/png" />
          <img class='support-img' src="./images/support-ukraine/medecins-sans.png" alt="Save the children" />
        </picture>
      </a>
    </li>
  </ul>

  <button aria-label="See all" class="support-button support-button-js" type="button">
    <svg width="22" height="22" class="support-icons">
      <use href="./images/sprite.svg#icon-support"></use>
    </svg>
  </button>
</div>