<h1>Shopping <span>List</span></h1>
<ul id="bookList" class="book-list">
    <!-- <li>
        <div class="book-card">
                            <button type="button" class="book-delete-btn" data-modal-close>
                                <svg class="book-delete-icon" width="18px" height="18px">
                                    <use href="/src/images/delete-book-icon.svg"></use>
                                </svg>
                            </button>
            <img src="/src/images/book-placeholder-mobile.jpg" alt="book" class="book-img">
            <div class="book-text-content">
                <h3 class="book-title"></h3>
                <p class="book-category"></p>
                <p class="book-desc"></p>
                <p class="book-author"></p>
            </div>
        </div>
    </li> -->
</ul>