.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .support-categories-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .support-categories-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 40px;
    gap: 86px;
  }
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
  }
}
